@keyframes text-scroll {
	to {
		background-size: 100% 100%;
	}
}

.about {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;

	padding-bottom: 10vmax;

	position: relative;
	font-family: Darker Grotesque, Darker Grotesque Fallback;
	scroll-snap-align: center;
	z-index: 0;
}

.text {
	width: 65%;
	height: 100%;

	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 2vmax;

	p {
		span {
			font-size: 2vmax;
			line-height: 2.2vmax;
			color: hsla(0, 0%, 100%, 0.1);
			background-clip: text;
			background-repeat: no-repeat;
			background-size: 0% 100%;
			background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));

			animation: text-scroll linear forwards;
			animation-timeline: view(y);

			b {
				font-weight: 900;
				color: hsla(0, 0%, 100%, 0.12);
			}
		}

		&:nth-child(odd) {
			span {
				animation-range-start: cover 65vh;
				animation-range-end: cover 95vh;
			}
		}

		&:nth-child(even) {
			span {
				animation-range-start: cover 72vh;
				animation-range-end: cover 100vh;
			}
		}
	}
}

@media (orientation: portrait) {
	.about{
		margin-top: -40vh;
	}
	.text {
		width: 90%;
	}
}
