@keyframes water-loop {
	to {
		transform: translateX(2%) translateY(5%);
	}
}

@keyframes turbine__wings-loop {
	to {
		transform: rotate(360deg);
	}
}

@keyframes bubbles-loop {
	to {
		opacity: 0;
		transform: translateY(-75%) translateX(5%);
	}
}

@keyframes fish-loop {
	from {
		opacity: 1;
		transform: translateX(60%) translateY(0%);
	}

	90% {
		opacity: 1;
	}

	to {
		opacity: 0;
		transform: translateX(-60%);
	}
}
