@use 'sass:math';

@function random_range($min, $max) {
	$rand: math.random();
	$random_range: $min + math.floor($rand * (($max - $min) + 1));
	@return $random_range;
}

@mixin sp-layout {
	@media screen and (max-width: 750px) {
		@content;
	}
}

.stars {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 120%;
	z-index: -1;
}

.star {
	$star-count: 10;
	--star-color: var(--primary-color);
	--star-tail-length: 6em;
	--star-tail-height: 2px;
	--star-width: calc(var(--star-tail-length) / 6);
	--fall-duration: 25s;
	--tail-fade-duration: var(--fall-duration);

	position: absolute;
	top: var(--top-offset);
	left: 0;
	width: var(--star-tail-length);
	height: var(--star-tail-height);
	color: var(--star-color);
	background: linear-gradient(45deg, rgb(255, 240, 155), transparent);
	border-radius: 50%;
	filter: drop-shadow(0 0 6px rgb(255, 217, 0));
	transform: translate3d(200em, 0, 0);
	animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;

	@include sp-layout {
		// For mobile performance, tail-fade animation will be removed QAQ
		animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
	}

	@for $i from 1 through $star-count {
		&:nth-child(#{$i}) {
			--star-tail-length: #{math.div(random_range(500, 750), 100)}em;
			--top-offset: #{math.div(random_range(0, 10000), 100)}vh;
			--fall-duration: #{math.div(random_range(5000, 15000), 1000)}s;
			--fall-delay: #{math.div(random_range(50000, 100000), 1000)}s;
		}
	}

	&::before,
	&::after {
		position: absolute;
		content: '';
		top: 0;
		left: calc(var(--star-width) / -2);
		width: var(--star-width);
		height: 100%;
		background: linear-gradient(45deg, transparent, rgb(255, 217, 0), transparent);
		border-radius: inherit;
		animation: blink 2s linear infinite;
	}

	&::before {
		transform: rotate(45deg);
	}

	&::after {
		transform: rotate(-45deg);
	}
}

@keyframes fall {
	50% {
		transform: translate3d(-30em, 0, 0);
		opacity: 0;
	}

	100% {
		transform: translate3d(-30em, 0, 0);
		opacity: 0;
	}
}

@keyframes tail-fade {
	0%,
	50% {
		width: var(--star-tail-length);
		opacity: 0.4;
	}

	70%,
	80% {
		width: 0;
		opacity: 0.2;
	}

	100% {
		width: 0;
		opacity: 0;
	}
}

@keyframes blink {
	50% {
		opacity: 0.6;
	}
}
