html,
body {
    width: 100vw;
    overflow-x: clip;
    scroll-behavior: smooth
}

body {
    font-family: Arial, Helvetica, sans-serif;
    position: relative
}

body::-webkit-scrollbar {
    width: 0px
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scrollbar-width: none
}

a {
    cursor: pointer;
    color: #009dff
}

.placeholder {
    height: 100vh;
    width: 100vw
}

.rotate-device {
    display: none
}

@keyframes rotate-device {
    30% {
        transform: rotate(90deg)
    }

    100% {
        transform: rotate(90deg)
    }
}

@media(orientation: portrait) {
    .rotate-device {
        display: block;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-backdrop-filter: blur(30px);
        backdrop-filter: blur(30px);
        background: rgba(132, 132, 132, .1);
        z-index: 1000;
        pointer-events: none !important
    }

    .rotate-device div {
        width: 100%;
        height: -moz-max-content;
        height: max-content;
        padding: 30px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }

    .rotate-device svg {
        width: 20vw;
        stroke: #fff !important;
        animation: rotate-device 5s infinite linear forwards
    }

    .rotate-device p {
        font-size: 6vw;
        text-align: center;
        color: #fff;
        font-family: Darker Grotesque, Darker Grotesque Fallback
    }
}