@keyframes lightsBreath {
	0% {
		opacity: 0.2;
	}
	25% {
		opacity: 0.7;
	}

	50% {
		opacity: 0;
	}

	75% {
		opacity: 0.9;
	}

	100% {
		opacity: 0.2;
	}
}

@keyframes backgroundPulse {
	0% {
		box-shadow: 0 -1vmax 35px #291f3d38;
	}
	50% {
		box-shadow: 0 0vmax 25px #61499238;
	}
	100% {
		box-shadow: 0 -1vmax 35px #291f3d38;
	}
}
