@use './animations.scss' as *;
@use 'sass:list';

.footer {
	--animation-state: paused;
	width: 100vw;
	padding: 1vmax;

	display: flex;
	flex-direction: column;
	align-items: center;

	position: relative;
	z-index: 1;

	overflow: hidden;

	&:hover {
		--animation-state: running;
	}
}

.background {
	display: block;
	width: 100%;
	aspect-ratio: 2;
	position: absolute;
	top: 64%;
	left: 50%;
	transform: translate(-50%, -50%) scaleX(1.5);
	border-radius: 50%;
	box-shadow: 0 -1vmax 35px #291f3d38;
	filter: blur(5px);
	z-index: 0;
	overflow: hidden;
	background: radial-gradient(circle, #0b001a 30%, #000000 100%);

	animation: backgroundPulse 20s ease-in-out infinite;
	animation-play-state: var(--animation-state);
}

.lights {
	position: absolute;
	top: 25%;
	left: 0;
	width: 100%;
	height: 90%;

	border-radius: 50%;
	overflow: hidden;

	filter: drop-shadow(0 0 3px #ffefd47c) drop-shadow(0 0 6px #ffefd4a9) blur(1px);
	opacity: 0.65;
	circle {
		fill: #ffefd49a;
		animation: lightsBreath ease-in-out infinite;
		animation-play-state: var(--animation-state);
	}

	@for $i from 1 through 5 {
		$layers: (6s, 8s, 110s, 12s, 14s);
		circle:nth-child(5n + #{$i}) {
			animation-duration: list.nth($layers, $i);
		}
	}
}

.aboutSite {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	gap: 1vw;

	z-index: 2;

	position: absolute;
	right: 1vmax;
	bottom: 1vmax;

	color: white;
}

.rights {
	z-index: 2;
	font-size: 60%;
}

.text > p {
	z-index: 2;
	padding-top: 10px;
	font-size: 70%;
}

.container {
	width: 100%;
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	padding-top: 15px;

	font-size: 1.2vmax;
	color: white;
	font-family: 'Monomaniac One', serif;
}

.contact {
	max-width: 150px !important;
}

// Mobil LG
@media (min-width: 360.1px) {
	.background {
		top: 62%;
		width: 110%;
	}

	.contact {
		max-width: 250px !important;
	}
}

// Tablet SM
@media (min-width: 600px) {
	.background {
		top: 72%;
		width: 100%;
	}
}

// Tablet LG
@media (min-width: 768px) {
	.background {
		top: 85%;
	}
}

// Laptop SM
@media (min-width: 1024px) {
	.background {
		top: 112%;
	}

	.contact {
		max-width: 250px !important;
	}
}

// Laptop LG
@media (min-width: 1366px) {
	.contact {
		max-width: 350px !important;
	}
}

// Desktop SM
@media (min-width: 1440px) {
	.background {
		top: 110%;
	}

	.contact {
		max-width: 350px !important;
	}

	.container {
		padding-top: 30px;
	}
}

// Desktop LG
@media (min-width: 1920px) {
	.contact {
		max-width: 450px !important;
	}

	.background {
		top: 110%;
	}
}

// Desktop XL
@media (min-width: 2560px) {
	.contact {
		max-width: 700px !important;
	}

	.background {
		top: 120%;
	}
}
