@use 'sass:math';
@use 'sass:string';

@function randomRange($min, $max) {
	@return calc($min + ($max * (math.random(1000) * 0.001)));
}

@function randomColor($min, $max) {
	@return calc($min + math.random($max));
}

@function randomAlpha($min, $max) {
	$_offset: 100;
	$_min: $min * $_offset;
	$_max: $max * $_offset;
	@return calc(math.div($_min + math.random($_max), $_offset));
}

@function randomSize($min, $max) {
	@return calc($min + (math.random($max) * 0.01));
}

@function stars($count, $max, $min: 0, $size: 0) {
	$stars: '0px 0px 0px black';

	@for $i from 1 to $count {
		$_x: calc(randomRange($min, $max) * 1px);
		$_y: calc(randomRange($min, $max) * 1px);
		$_size: calc(randomSize($size, 10) * 1px);
		$_color: rgba(randomColor(100, 255), randomColor(100, 255), randomColor(100, 255), randomAlpha(0.5, 1));
		$stars: '#{$stars} , #{$_x} #{$_y} 2px #{$_size} #{$_color}';
	}

	@return string.unquote($stars);
}
