.footer {
	width: 100vw;
	height: 4vmax;
	padding: 1vmax;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	position: relative;
	z-index: 1;

	font-size: 1.2vmax;
	color: white;
	font-family: 'Monomaniac One', serif;
}

.links {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	gap: 1vw;
}

.text > p{
	padding-top: 10px;
}
