@use '../../../mixins/stars.scss' as stars;
@use './animations.scss' as *;
@use 'sass:math';
@use 'sass:list';

// Global selector to target the body element
:global(body[data-supports-timeline='false']) {
	.banner {
		--user-agent-animation: running;

		z-index: 0;
		position: relative;
		top: auto;
		left: auto;
		transform: none;
		animation: none;
		animation-timeline: none;
		&::before {
			content: none;
		}
	}

	.spaceship {
		display: none;
		visibility: none;
		content-visibility: hidden;
	}

	.useragent {
		display: flex;
		justify-self: center;
		align-items: center;
		flex-direction: column;
		position: absolute;
		bottom: 1%;
		color: white;
		font-family: 'Darker Grotesque';
		animation: useragentLoop 120s linear infinite;
		animation-play-state: var(--user-agent-animation);
		pointer-events: all !important;
		z-index: 9999;

		&:hover {
			--user-agent-animation: paused;
		}
	}
}

:global(body:not([data-browser='chrome'])) {
	.text {
		--contact-galaxy-animation: paused !important;

		&Triax {
			&Download {
				&::before {
					height: 95%;
				}
			}
		}
	}

	.servers {
		.server {
			$timingFunctions: linear cubic-bezier(0, 0.78, 1, 0.74) cubic-bezier(0.1, 1.2, 0.9, 0.02);
			@for $i from 1 through 5 {
				.serverLed#{$i} {
					animation-name: none;
				}
			}
		}
	}
}

.banner {
	--animation-state: paused;
	--contact-galaxy-animation: paused;

	height: 100vh;
	width: 100vw;

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);

	z-index: 1;

	animation: bannerScroll linear;
	animation-timeline: scroll(root);

	&::before {
		content: '';
		width: 250%;
		height: 250%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(1.2);
		background: linear-gradient(180deg, #000000 0%, #0f0824 65%);
	}

	&:hover {
		--animation-state: running;
		--contact-galaxy-animation: running;
	}

	svg {
		pointer-events: none;
	}
}

.spaceship {
	width: 210vmax;
	height: auto;

	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, 75%) scale(3.9);

	z-index: 20;
	pointer-events: none;

	&Window {
		opacity: 0;
		animation: spaceshipWindowScroll linear;
		animation-timeline: scroll(root);
	}

	&Fire {
		position: absolute;
		top: 50%;
		left: 50%;
	}
}

.text {
	--field-animation: running;

	--contact-width: 85px;
	--contact-height: 25px;
	--contact-radius: 5px;
	--contact-name-opacity: 1;
	--contact-galaxy-opacity: 1;
	--contact-email-opacity: 0;

	--contact-transition: all 0.5s;

	width: 200px;

	position: absolute;
	top: 25vmax;
	z-index: 12;

	transform: translate(-50%, -50%);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	font-size: 18px;

	animation: svgScroll linear;
	animation-timeline: scroll(root);

	> span {
		color: white;
		font-size: 50%;
		font-family: Monomaniac One, Monomaniac One Fallback;
		padding: 10px;
	}

	&Title {
		width: 100%;
		display: flex;
		flex-direction: column;

		color: white;
		font-family: 'Monomaniac One', serif;
		text-align: center;

		font-weight: 300;

		filter: drop-shadow(2px -2px 1px #354b5bb4);

		p {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		&Content {
			overflow: hidden;

			&:before {
				content: 'Chousein';
				display: block;
				animation: textLoop 5s 5s infinite forwards, textContentLoop 10s 5s infinite forwards;
				animation-play-state: var(--animation-state);
			}
		}
	}

	&Triax {
		width: var(--contact-width);

		display: flex;
		flex-direction: column;

		font-family: Darker Grotesque, Darker Grotesque Fallback;
		transition: transform 0.5s;
		font-family: 'Monomaniac One', serif;

		&:hover {
			transform: scale(1.1);
		}

		&Download {
			border-radius: var(--contact-radius);
			position: relative;
			background: conic-gradient(from var(--contact-background-position), rgba(255, 0, 0, 1), rgba(255, 154, 0, 1), rgba(208, 222, 33, 1), rgba(79, 220, 74, 1), rgba(63, 218, 216, 1), rgba(47, 201, 226, 1), rgba(28, 127, 238, 1), rgba(95, 21, 242, 1), rgba(186, 12, 248, 1), rgba(251, 7, 217, 1), rgba(255, 0, 0, 1));
			animation: contactLoop 3s infinite linear;
			animation-play-state: var(--animation-state);
			overflow: hidden;
			height: var(--contact-height);

			a {
				display: flex;
				justify-content: center;
				align-items: center;

				position: relative;
				font-size: 55%;

				border-radius: var(--contact-radius);
				text-decoration: none;
				width: 100%;
				height: 100%;
				font-size: 50%;

				background-color: transparent;
				text-align: center;
				color: white;

				outline: none !important;
				border: none !important;
				z-index: 5;
			}

			&::before {
				content: '';
				display: block;

				width: 95%;
				height: 95%;

				position: absolute;
				top: 50%;
				left: 50%;

				transform: translate(-50%, -50%);

				background: rgb(17, 17, 17);
				border-radius: var(--contact-radius);
				z-index: 0;
			}
		}
	}

	&Contact {
		$offset: 2px;
		display: block;
		height: var(--contact-height);
		width: var(--contact-width);

		position: relative;
		border-radius: var(--contact-radius);

		border: none;
		outline: none;
		box-shadow: inset 0px 3px 0px rgb(35, 35, 35);

		background: rgb(19, 17, 21);

		font-family: 'Monomaniac One', serif;
		color: rgba(255, 255, 255, 1);
		font-size: 100%;
		transition: var(--contact-transition);
		cursor: pointer;
		&::before {
			content: '';
			display: block;

			height: var(--contact-height);
			width: var(--contact-width);

			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			background: conic-gradient(from var(--contact-background-position), rgba(255, 255, 255, 0.5) 1%, transparent 10%);
			border-radius: var(--contact-radius);

			animation: contactLoop 3s infinite linear;
			animation-play-state: var(--animation-state);
			transition: var(--contact-transition);
		}

		&::after {
			content: '';
			display: flex;
			justify-content: center;
			align-items: center;

			height: calc(var(--contact-height) - $offset);
			width: calc(var(--contact-width) - $offset);

			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			border-radius: var(--contact-radius);
			background: rgb(19, 17, 21);

			transition: var(--contact-transition);
		}

		&:hover {
			--contact-galaxy-animation: paused;
			transform: scale(1.1);
		}

		&Name {
			width: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 30;
			opacity: var(--contact-name-opacity);
			transition: var(--contact-transition);
			text-align: center;
			font-size: 55%;
		}

		&Galaxy {
			display: block;

			height: calc(var(--contact-height) - $offset);
			width: calc(var(--contact-width) - $offset);
			overflow: hidden;

			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 10;

			border-radius: var(--contact-radius);
			background-color: black;
			transition: var(--contact-transition);

			opacity: var(--contact-galaxy-opacity);

			&::before {
				content: ' ';
				display: block;
				position: absolute;
				left: 50%;
				top: 50%;

				transform: rotate(0deg) translate(-25px, -50px);

				box-shadow: stars.stars(50, 150, 0, 0.2);

				animation: contactStarsLoop 10s infinite linear;
				animation-play-state: var(--contact-galaxy-animation);
				transition: var(--contact-transition);
			}

			&::after {
				content: '';
				$height: calc(var(--contact-height) / 1.2);

				display: block;

				width: $height;
				height: $height;

				position: absolute;
				bottom: calc($height * -1.1);
				right: calc($height * -0.8);

				transform: translate(-50%, -50%);
				background: rgb(129, 188, 255);
				border-radius: 50%;

				box-shadow: calc($height * -0.1) calc($height * -0.01) 45px 7px rgb(38, 95, 159), inset calc($height * 0.05) calc($height * 0.05) 15px 1px rgb(30, 95, 170);
				transition: var(--contact-transition);
			}
		}
	}
}

.svg {
	width: 100%;
	height: 50%;

	position: absolute;
	bottom: -35px;

	z-index: 1;

	animation: svgScroll linear;
	animation-timeline: scroll(root);

	.servers {
		position: absolute;
		bottom: -120px;
		left: 50%;
		margin-left: 220px;
		transform: translate(-50%, -50%);

		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: flex-start;
		z-index: 5;

		.server {
			height: auto;
			width: 230px;

			margin-right: -110px;
			position: relative;
			z-index: 2;

			transform: scaleY(1.1);

			&:nth-child(4) {
				margin-right: -0px;
			}

			animation: brightnessLoop $BOUNCE-DURATION 1s linear infinite;
			animation-play-state: var(--animation-state);
			.serverLight {
				opacity: 0.5;
			}

			$timingFunctions: linear cubic-bezier(0, 0.78, 1, 0.74) cubic-bezier(0.1, 1.2, 0.9, 0.02);
			@for $i from 1 through 6 {
				.serverLed#{$i} {
					animation-name: serverLedLoop;
					animation-iteration-count: infinite;
					animation-direction: alternate;
					animation-duration: math.random(10) * 0.1s;
					animation-timing-function: list.nth($timingFunctions, math.random(3));

					animation-play-state: var(--animation-state);
				}
			}
		}

		.cables {
			width: 500px;
			height: auto;

			position: absolute;
			bottom: -50px;
			left: 50%;
			margin-left: -20px;
			transform: translate(-50%, -50%);
		}
	}

	.arc {
		width: 450px;
		height: auto;

		position: absolute;
		bottom: -170px;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);

		animation: brightnessLoop $BOUNCE-DURATION 1s linear infinite;
		animation-play-state: var(--animation-state);

		z-index: 10;

		&Back {
			z-index: 5;
		}

		&Front {
			z-index: 15;
		}

		&Cables {
			stroke: black;
		}
	}

	.hose {
		width: 150px;
		height: auto;

		position: absolute;
		bottom: -500px;
		margin-left: 15px;
		left: 50%;
		transform: translate(-50%, -50%) scale(0.85) rotate(0deg);
		z-index: 10;

		animation: hoseIdle 2s linear infinite alternate, brightnessLoop $BOUNCE-DURATION 1s linear infinite;
		animation-play-state: var(--animation-state);
	}

	.astronaut {
		width: 250px;
		height: auto;

		position: absolute;
		bottom: -170px;
		left: 50%;
		margin-left: -20px;
		transform: translate(-50%, -50%) scale(0.85) rotate(1deg);
		z-index: 10;

		animation: astronautIdle 2s linear infinite alternate, brightnessLoop $BOUNCE-DURATION 1s linear infinite;
		animation-play-state: var(--animation-state);

		&Hose {
			transform: translateX(-9%) translateY(-18%) scale(1.2);
		}

		.astronautFloating {
			display: none;
		}

		.astronautGreeting {
			display: block;
			animation: astronautGreet 2s linear infinite alternate;
			animation-play-state: var(--animation-state);
		}

		.astronautRightLeg {
			animation: astronautLeg 2.5s linear infinite alternate;
			animation-play-state: var(--animation-state);
		}

		.astronautLeftLeg {
			animation: astronautLeg 2.5s 1.5s linear infinite alternate;
			animation-play-state: var(--animation-state);
		}
	}

	.cat {
		width: 100px;
		height: auto;

		position: absolute;
		bottom: 140px;
		left: 50%;
		margin-left: 400px;
		transform: translate(-50%, -50%) scale(0.5);
		z-index: 10;

		animation: brightnessLoop $BOUNCE-DURATION 1s linear infinite;
		animation-play-state: var(--animation-state);

		> * {
			filter: brightness(0.5);
		}

		&Z1 {
			animation: catSleepLoop 4s 0s infinite linear;
			animation-play-state: var(--animation-state);
		}

		&Z2 {
			animation: catSleepLoop 4s 2s infinite linear;
			animation-play-state: var(--animation-state);
		}

		&Z3 {
			animation: catSleepLoop 4s 5s infinite linear;
			animation-play-state: var(--animation-state);
		}
	}

	.floor {
		width: 100%;
		height: 100%;

		position: absolute;
		bottom: -50%;
		left: 50%;

		transform: translate(-50%, -50%);
		path {
			stroke: rgba(61, 245, 255, 0.2);
			animation: floorLoop 5s linear infinite alternate;
			animation-play-state: var(--animation-state);
			opacity: 0;

			@for $i from 1 through 20 {
				&:nth-child(#{$i}) {
					$delay-ms: math.div(math.random(40), 10) * 1s;
					animation-delay: $delay-ms;
					animation-duration: math.random(5) + 5s;
				}
			}
		}
	}
}

.links {
	width: 220px;
	height: 220px;
	animation: githubScroll linear;
	animation-timeline: scroll(root);
}

.useragent {
	display: none;
}

// Portrait (height > width)
@media (max-aspect-ratio: 1/1) {
	.text {
		left: 50%;
	}

	// Mobil LG
	@media (min-width: 360.1px) {
		.svg {
			transform: scale(1.2);
			bottom: 20px;

			.floor {
				bottom: -80%;
			}
		}

		.text {
			transform: translate(-50%, -50%) scale(1.5);
		}
	}

	// Tablet SM
	@media (min-width: 600px) {
		.svg {
			transform: scale(1.3);
			bottom: 40px;
		}

		.text {
			transform: translate(-50%, -50%) scale(1.5);
		}
	}

	// Tablet LG
	@media (min-width: 768px) {
		.svg {
			transform: scale(1.5);
			bottom: 120px;

			.floor {
				width: 100%;
				height: 50%;
				bottom: -30%;
			}
		}

		.text {
			transform: translate(-50%, -50%) scale(1.7);
		}
	}

	@media (min-width: 900px) {
		.svg {
			bottom: 110px;
		}
		.text {
			transform: translate(-50%, -50%) scale(2);
		}
	}

	// Laptop SM
	@media (min-width: 1024px) {
		.svg {
			transform: scale(2);
			bottom: 430px;

			.floor {
				width: 100%;
				height: 50%;
				bottom: -40%;
			}
		}

		.text {
			transform: translate(-50%, -50%) scale(2.5);
		}
	}

	// Desktop SM
	@media (min-width: 1440px) {
		.svg {
			transform: scale(2.5);
			bottom: 930px;

			.floor {
				bottom: -40%;
			}
		}

		.text {
			transform: translate(-50%, -50%) scale(3.5);
		}
	}
}

// Landscape (width > height)
@media (min-aspect-ratio: 1/1) {
	.text {
		top: auto;
		left: 22.5%;
	}

	// Tablet SM
	@media (min-width: 600px) {
		.svg {
			transform: scale(0.7);
			bottom: -50px;

			.floor {
				width: 140%;
				height: 120%;
				bottom: -45%;
			}
		}

		.text {
			bottom: -20px;
			transform: translate(-50%, -50%) scale(0.8);
		}
	}

	// Tablet LG
	@media (min-width: 768px) {
		.svg {
			transform: scale(1.1);
			bottom: -20px;
		}

		.text {
			bottom: 100px;
			transform: translate(-50%, -50%) scale(1.3);
		}
	}

	@media (min-width: 896px) {
		.svg {
			transform: scale(0.95);
			bottom: -40px;

			.floor {
				width: 105%;
				bottom: -70%;
			}
		}

		.text {
			bottom: 30px;
			transform: translate(-50%, -50%) scale(1);
		}
	}

	@media (min-width: 960px) {
		.svg {
			transform: scale(1.05);
			bottom: -30px;
		}

		.text {
			bottom: 70px;
			transform: translate(-50%, -50%) scale(1.2);
		}
	}

	// Laptop SM
	@media (min-width: 1024px) {
		.svg {
			transform: scale(1.1);
			bottom: 0px;

			.floor {
				bottom: -75%;
			}
		}

		.text {
			bottom: 100px;
			transform: translate(-50%, -50%) scale(1.5);
		}
	}

	@media (min-width: 1200px) {
		.svg {
			transform: scale(1.3);
			bottom: 50px;
		}

		.text {
			bottom: 150px;
			transform: translate(-50%, -50%) scale(1.7);
		}
	}

	// Laptop LG
	@media (min-width: 1366px) {
		.svg {
			transform: scale(1.5);
			bottom: 100px;

			.floor {
				bottom: -95%;
			}
		}

		.text {
			transform: translate(-50%, -50%) scale(2);
			bottom: 210px;
		}
	}

	// Desktop SM
	@media (min-width: 1440px) {
		.svg {
			transform: scale(1.6);
			bottom: 120px;

			.floor {
				width: 100%;
				height: 70%;
				bottom: -50%;
			}
		}

		.text {
			transform: translate(-50%, -50%) scale(2.1);
			bottom: 230px;
		}
	}

	@media (min-width: 1600px) {
		.svg {
			transform: scale(1.85);
			bottom: 190px;
		}

		.text {
			bottom: 310px;
			transform: translate(-50%, -50%) scale(2.5);
		}
	}

	// Desktop LG
	@media (min-width: 1920px) {
		.svg {
			transform: scale(2.1);
			bottom: 230px;

			.floor {
				width: 50%;
				height: 60%;
				bottom: -45%;
			}
		}

		.text {
			transform: translate(-50%, -50%) scale(2.7);
			bottom: 345px;
		}
	}

	@media (min-width: 2200px) {
		.svg {
			transform: scale(2.5);
			bottom: 350px;
		}

		.text {
			transform: translate(-50%, -50%) scale(3.1);
			bottom: 465px;
		}
	}

	// Desktop XL
	@media (min-width: 2560px) {
		.svg {
			transform: scale(2.8);
			bottom: 550px;
		}

		.text {
			transform: translate(-50%, -50%) scale(3);
			bottom: 550px;
		}
	}
}
